.top-nav-container {
	width: 100%;
	max-width: 100vw;
	height: 3rem;
	background-color: var(--color-background-002);
	backdrop-filter: blur(12px);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.top-nav-wrapper {
	width: 100%;
	max-width: 700px;
	height: 3rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-left: auto;
	margin-right: auto;

	&.desktop {
		padding: 0.5rem 1.5rem;
	}

	&.mobile {
		padding: 0.5rem 1rem;
	}
}

button.icon-button {
	width: 2rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	border-radius: 100%;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	color: var(--color-text-002);
	transition: 0.2s all ease;

	&:hover {
		color: var(--color-text-001);
	}

	&.active {
		background-color: var(--color-background-003);
		color: var(--color-text-001);
	}
}

.dropdown-item-icon-wrapper {
	width: 1.375rem;
	height: 1.375rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-text-001);
}

.top-nav-menu-wrapper {
	height: 2rem;
	width: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1.5rem;
}
