._theme-light {
	--color-white: #ffffff;
	--color-backdrop: #00000080;
	--color-background-001: #fdfdfc;
	--color-text-001: #1b1b18;
	--color-text-002: #706f6c;
	--color-stroke-001: #0000000f;
	--color-shadow-001: 0px 1px 4px #92a1b066;
}

._theme-dark {
	--color-white: #ffffff;
	--color-backdrop: #00000080;
	--color-background-001: #161615;
	--color-text-001: #ededec;
	--color-text-002: #a1a09a;
	--color-stroke-001: #f8f8f80f;
	--color-shadow-001: 0px 1px 4px #2f2f5666;
}
